<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <title>Enrichissements</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="header">
        <h3 class="text-muted">

        </h3>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <form method="post" action="/search">
                <div class="form-group">
                    <label for="text">Texte à enrichir</label>
                    <textarea id="text" class="form-control" rows="20" autofocus></textarea>
                </div>

                <div class="form-group">
                      <div class="col-xs-2">
                        <button type="submit" class="btn btn-lg btn-primary">Enrichir</button>
                      </div>
                </div>
            </form>
        </div>
        <div class="col-xs-4">
            <h3>Rubriques</h3>
            <ul id="rubriques" style="display:none">
            </ul>
        </div>

    </div>


</div>

</body>
</html>
<script src='./js/jquery.js'></script>
<script>
    $('form').submit(function (e) {
         e.preventDefault();

         var rubriquesHtml = '';

         var inputs = {
            text:$('#text').val(),
            K:25,
            threshold:0.25
         };

         $.post('rubriques', inputs, displayRubriques);

         function displayRubriques(rubriques){
            rubriques.forEach(function(rubrique){
                console.log(rubrique.label);
                rubriquesHtml += '<li><h4>' + rubrique.label + '</h4>' + rubrique.score  + '</li>'
            });

            $('#rubriques').html('');
            $('#rubriques').hide();

            $('#rubriques').html(rubriquesHtml);
            $('#rubriques').show('slow','linear');
        };
    });



</script>