<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <title>Enrichissements</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="header">
        <h3 class="text-muted">

        </h3>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <form method="post" action="#">
                <div class="form-group">
                    <label for="text">Texte à enrichir</label>
                    <textarea id="text" class="form-control" rows="20" autofocus></textarea>
                </div>

                <div class="form-group">
                      <div class="col-xs-2">
                        <button type="submit" id="get_rubriques" class="btn btn-lg btn-primary">Rubriques</button>
                      </div>
                      <div class="col-xs-2">
                        <button type="submit" id="get_ensembles" class="btn btn-lg btn-primary">Ensembles</button>
                      </div>
                </div>

                <div class="form-group">
                      <div class="col-xs-2">
                        <button type="submit" id="get_depeches" class="btn btn-lg btn-primary">Dépêches</button>
                      </div>
                      <div class="col-xs-2">
                        <button type="submit" id="get_videos" class="btn btn-lg btn-primary">Vidéos</button>
                      </div>
                </div>

            </form>
        </div>
        <div class="col-xs-4">
            <div>
                <img id="loader" src="../img/loader.gif" style="display:none">
            </div>
            <div id="rubriques" style="display:none">
                <h3>Rubriques</h3>
                <ul>
                </ul>
            </div>
            <div id="ensembles" style="display:none">
                <h3>Ensembles</h3>
                <ul>
                </ul>
            </div>
            <div id="depeches" style="display:none">
                <h3>Dépêches proches</h3>
                <ul>
                </ul>
            </div>
            <div id="videos" style="display:none">
                <h3>Vidéos proches</h3>
                <ul>
                </ul>
            </div>
        </div>

    </div>


</div>

</body>
</html>
<script src='./js/jquery.js'></script>
<script src='./js/moment.js'></script>
<script>
    moment.lang('fr');
    $('form').submit(function (e) {
         e.preventDefault();
     });

    $('#get_rubriques').click(function(e){
        $('#loader').show();
        $('#rubriques').hide();
        $('#depeches').hide();
        $('#ensembles').hide();

         var rubriquesHtml = '<h3>Rubriques</h3>';

         var inputs = {
            text:$('#text').val(),
            K:25,
            threshold:0.25
         };

         $.post('rubriques', inputs, displayRubriques);

         function displayRubriques(rubriques){
            $('loader').hide();

            rubriques.forEach(function(rubrique){
                console.log(rubrique.label);
                rubriquesHtml += '<blockquote><p>' + rubrique.label + '</p><small>score: ' + rubrique.score  + '</small></blockquote>'
            });

            $('#loader').hide();
            $('#rubriques').html('');

            $('#rubriques').hide();
            $('#ensembles').hide();
            $('#depeches').hide();

            $('#rubriques').html(rubriquesHtml);
            $('#rubriques').show('slow','linear');
        };
    });

    $('#get_ensembles').click(function(e){
        $('#loader').show();
        $('#rubriques').hide();
        $('#depeches').hide();
        $('#ensembles').hide();


         var rubriquesHtml = '<h3>Ensembles</h3>';

         var inputs = {
            text:$('#text').val(),
            K:25,
            threshold:0.05
         };

         $.post('ensembles', inputs, displayRubriques);

         function displayRubriques(rubriques){
            $('loader').hide();

            rubriques.forEach(function(rubrique){
                console.log(rubrique.label);
                rubriquesHtml += '<blockquote><p>' + rubrique.label + '</p><small>id: ' + rubrique.id  + ' / score: ' + rubrique.score  + '</small></blockquote>'
            });

            $('#loader').hide();
            $('#ensembles').html('');

            $('#rubriques').hide();
            $('#depeches').hide();
            $('#ensembles').hide();

            $('#ensembles').html(rubriquesHtml);
            $('#ensembles').show('slow','linear');
        };
    });

    $('#get_depeches').click(function(e){
        $('#loader').show();
        $('#rubriques').hide();
        $('#depeches').hide();
        $('#ensembles').hide();


         var depechesHtml = '<h3>Dépêches proches</h3>';

         var inputs = {
            text:$('#text').val(),
         };

         $.post('depeches', inputs, displayDepeches);

         function displayDepeches(unsortedDepeches){
            $('loader').hide();

            depeches = unsortedDepeches.sort(function(a, b){
                return new Date(b.date) - new Date(a.date);
            });

            depeches.forEach(function(depeche){
                var date = moment(depeche.date).lang('fr').format("LLLL");

                depechesHtml += '<blockquote><p>' + depeche.provider + ': <a target ="_blank" href="https://huit.lemonde.fr/news/' + depeche.id + '">' +
                depeche.title  +'</a></p><footer>' + date + '</footer><footer>score: ' + depeche.score + '</footer></blockquote>'
            });

            $('#loader').hide();
            $('#depeches').html('');

            $('#depeches').html(depechesHtml);
            $('#depeches').show('slow','linear');
        };
    });


    $('#get_videos').click(function(e){
        $('#loader').show();
        $('#rubriques').hide();
        $('#depeches').hide();
        $('#ensembles').hide();
        $('#videos').hide();


         var videosHtml = '<h3>Vidéos proches</h3>';

         var inputs = {
            text:$('#text').val(),
         };

         $.post('videos', inputs, displayVideos);

         function displayVideos(videos){
            $('loader').hide();

            videos.forEach(function(video){

                if(video.score > 0.1){
                    var date = moment(video.date).lang('fr').format("LLLL");

                    videosHtml += '<blockquote><p><a target ="_blank" href="http://www.lemonde.fr/tiny/' + video.item_id + '/">' +
                    video.item_titre  +'</a></p><footer>' + date + '</footer><footer>score: ' + video.score + '</footer></blockquote>'    
                }                
            });

            $('#loader').hide();
            $('#videos').html('');

            $('#videos').html(videosHtml);
            $('#videos').show('slow','linear');
        };
    });



</script>