<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <title>Enrichissements</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="header">
        <h3 class="text-muted">

        </h3>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <form method="post" action="#">
                <div class="form-group">
                    <label for="text">Texte à enrichir</label>
                    <textarea id="text" class="form-control" rows="20" autofocus></textarea>
                </div>

                <div class="form-group">
                      <div class="col-xs-2">
                        <button type="submit" id="get_rubriques" class="btn btn-lg btn-primary">Rubriques</button>
                      </div>
                      <div class="col-xs-2">
                        <button type="submit" id="get_depeches" class="btn btn-lg btn-primary">Dépêches proches</button>
                      </div>
                </div>
            </form>
        </div>
        <div class="col-xs-4">
            <div id="rubriques" style="display:none">
                <h3>Rubriques</h3>
                <ul>
                </ul>
            </div>
            <div id="depeches" style="display:none">
                <h3>Dépêches proches</h3>
                <ul>
                </ul>
            </div>
        </div>

    </div>


</div>

</body>
</html>
<script src='./js/jquery.js'></script>
<script src='./js/moment.js'></script>
<script>
    moment.lang('fr');
    $('form').submit(function (e) {
         e.preventDefault();

     });

    $('#get_rubriques').click(function(e){
         var rubriquesHtml = '<h3>Rubriques</h3><ul>';

         var inputs = {
            text:$('#text').val(),
            K:25,
            threshold:0.25
         };

         $.post('rubriques', inputs, displayRubriques);

         function displayRubriques(rubriques){
            rubriques.forEach(function(rubrique){
                console.log(rubrique.label);
                rubriquesHtml += '<li><h4>' + rubrique.label + '</h4>' + rubrique.score  + '</li>'
            });

            rubriquesHtml += '</ul>'

            $('#rubriques').html('');
            $('#rubriques').hide();

            $('#rubriques').html(rubriquesHtml);
            $('#rubriques').show('slow','linear');
        };
    });

    $('#get_depeches').click(function(e){
         var depechesHtml = '<h3>Dépêches proches</h3>';

         var inputs = {
            text:$('#text').val(),
         };

         $.post('depeches', inputs, displayDepeches);

         function displayDepeches(unsortedDepeches){

            depeches = unsortedDepeches.sort(function(a, b){
                return new Date(b.date) - new Date(a.date);
            });

            depeches.forEach(function(depeche){
                var date = moment(depeche.date).lang('fr').format("LLLL");

                depechesHtml += '<blockquote><p>' + depeche.provider + ': <a target ="_blank" href="https://huit.lemonde.fr/news/' + depeche.id + '">' +
                depeche.title  +'</a></p><footer>' + date + '</footer><footer>score: ' + depeche.score + '</footer></blockquote>'
            });

            $('#depeches').html('');
            $('#depeches').hide();

            $('#depeches').html(depechesHtml);
            $('#depeches').show('slow','linear');
        };
    });



</script>